{% extends "base.html" %}
{% block title %} Danh sách môn học đợt : {{tt_dot[0]}}_{{tt_dot[1]}}_{{tt_dot[2]}}{% endblock title %}
{% block content %}
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="/table_dang_ky_hoc"><b>Đăng ký học</b></a></li>
            <li class="breadcrumb-item active"><a href=""><b>Danh sách lớp học đợt : {{tt_dot[0]}}_{{tt_dot[1]}}_{{tt_dot[2]}}</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">

                    <div class="row element-button">

                        <div class="col-sm-2">
                            <a class="btn btn-add btn-sm" href="/table_dang_ky_hoc/form_add_dkh_lop_hoc/{{ma_dot}}" title="Thêm lớp học mới"><i
                                    class="fas fa-plus"></i>
                                Thêm lớp học</a>
                        </div>

                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm nhap-tu-file" href="/table_dang_ky_hoc/form_add_dkh_lop_hoc_upload_file/{{ma_dot}}"
                                type="button" title="Tải từ file"><i class="fas fa-file-upload"></i>Tải từ file</a>
                        </div>

                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm" type="button" title="Xóa tất cả các phần tử đã chọn"
                                onclick="deleteMoreRow(this)"><i class="fas fa-trash-alt"></i> Xóa phần tử đã chọn </a>
                        </div>

                        <div class="col-sm-2">
                          <a class="btn btn-delete btn-sm" type="button" title="Xóa"
                              onclick="deleteDot('{{ma_dot}}')"><i class="fas fa-trash-alt"></i> Xóa đợt đăng ký này </a>
                      </div>

                    </div>
                    <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0"
                        border="0" id="sampleTable">
                        <thead>
                            <tr>
                                <th width="10"><input type="checkbox" id="all"></th>
                                <th width="300">Môn học</th>
                                <th width="50">Số TC</th>
                                <th width="150">Mã lớp</th>
                                <th width="100">Tổng sinh viên</th>
                                <th width="100"> Đã đăng ký</th>
                                <th width="200">Lịch học</th>
                                <th width="50">Tính năng</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for data in cac_mon_dk %}
                            <tr>
                                <td width="10"><input type="checkbox" id="myChecker" name="{{data[0]}}" value="{{data[0]}}"></td>
                               <td>{{data[1]}}</td>
                               <td>{{data[2]}}</td>
                               <td>{{data[3]}}</td>
                               <td>{{data[4]}}</td>
                               <td>{{data[5]}}</td>
                               <td>{{data[6]}}</td>
                                <td class="table-td-center"><button class="btn btn-primary btn-sm trash" type="button"
                                        title="Xóa" onclick="deleteRow('{{data[0]}}')"><i class="fas fa-trash-alt"></i>
                                    </button>
                                </td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
 <!-- Essential javascripts for application to work-->
 <script src="{{url_for('static', filename='doc/js/jquery-3.2.1.min.js')}}"></script>
 <script src="{{url_for('static', filename='doc/js/popper.min.js')}}"></script>
 <script src="{{url_for('static', filename='doc/js/bootstrap.min.js')}}"></script>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="{{url_for('static', filename='doc/js/main.js')}}"></script>
 <!-- The javascript plugin to display page loading on top-->
 <script src="{{url_for('static', filename='doc/js/plugins/pace.min.js')}}"></script>
 <!-- Page specific javascripts-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
 <!-- Data table plugin-->
 <!-- <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script> -->
 <script src="{{url_for('static', filename='doc/js/plugins/jquery.dataTables.min.js')}}"></script>
 <!-- <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script> -->
 <script src="{{url_for('static', filename='doc/js/plugins/dataTables.bootstrap.min.js')}}"></script>
 <script type="text/javascript">$('#sampleTable').DataTable();</script>
 <script>
   function deleteRow(id) {
     swal({
       title: "Cảnh báo",
       text: "Bạn có chắc chắn là muốn xóa lớp này?", // index = 3
       buttons: ["Hủy bỏ", "Đồng ý"],
     })
       .then((willDelete) => {
        
         if (willDelete) {
           $.ajax({
             url:"/delete_lop_hoc/{{ma_dot}}_" + id,
             context: document.body
           })
           swal("Đã xóa thành công.!", {
             
           });
           location.reload();
         }
       });
   }

   function deleteMoreRow(r) {
     var numRow = document.getElementById("sampleTable").rows.length;
     var id_nv = [];
     $('#sampleTable tbody :checkbox').each(function () {
         let i = this.parentNode.parentNode.rowIndex;
         if (this.checked) {
           id_nv.push(this.name);
         }
     });

     swal({
       title: "Cảnh báo",
       text: "Bạn có chắc chắn là muốn xóa những lớp này?", // index = 3
       buttons: ["Hủy bỏ", "Đồng ý"],
     })
       .then((willDelete) => {
         if (willDelete) {
           for (let i = 0; i < id_nv.length; i++) {
             $.ajax({
               url:"/delete_lop_hoc/{{ma_dot}}_" + id_nv[i],
               context: document.body
             })
           }
           swal("Đã xóa thành công.!", {});
         }
         location.reload();
       });
   }

   oTable = $('#sampleTable').dataTable();
   $('#all').click(function (e) {
     $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
     e.stopImmediatePropagation();
   });
   
   //In dữ liệu
   var myApp = new function () {
     this.printTable = function () {
       var win = window.open('/get_print_data_employees', '', 'height=700,width=1400');
       win.document.close();
       win.print();
     }
   }
 </script>
{% endblock content %}