{% extends "base.html" %}
{% block title %} Đăng ký học {% endblock title %}
{% block content %}
<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Đăng ký học</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">

          <div class="row element-button">

            <div class="col-sm-2">
              <a class="btn btn-add btn-sm" href="/table_dang_ky_hoc/form_add_dot_dk" title="Thêm đợt đăng ký mới"><i
                  class="fas fa-plus"></i>
                Thêm</a>
            </div>

            <div class="col-sm-2">
              <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printNV()"><i
                  class="fas fa-print"></i> In thông tin</a>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-excel btn-sm" href="/get_table_dang_ky_hoc_pdf/{{ma_dot_dang_ky}}" title="Xuất Excel"><i class="fas fa-file-excel"></i> Xuất
                Excel</a>
            </div>

            <div class="col-sm-2">
              <a class="btn btn-delete btn-sm pdf-file" type="button" title="Xuất PDF" href="/get_table_dang_ky_hoc_pdf/{{ma_dot_dang_ky}}"><i
                  class="fas fa-file-pdf"></i>Xuất PDF</a>
            </div>

            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
              <a class="btn btn-add btn-sm" href="/table_dang_ky_hoc/table_dkh_lop_hoc/{{ma_dot_dang_ky}}" title="Tùy chỉnh"><i
                  class="fas fa-pen"></i>
                Tùy chỉnh</a>
            </div>

          </div>
          <form class="row" method="post" action="/table_dang_ky_hoc" enctype="multipart/form-data">
            <div class="col-md-5">
              <div class="form-group">
                <select class="form-control" id="department" name="ma_dot_dang_ky">
                  <option style="text-align: center;"> {{ma_dot}} </option>
                  {% for elm in cac_ddk %}
                  <option style="text-align: center;"> {{elm[0]}} _ {{elm[1]}} _ {{elm[2]}} </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group col-md-2">
              <input class="btn btn-save" type="submit" onclick="" value="OK" />
            </div>
            <div class="form-group col-md-5">
            </div>

          </form>
          <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
            id="sampleTable">
            <thead>
              <tr>
                <th colspan="11" style="text-align: center; background-color: #eee">Đăng ký học - Học kỳ 1 năm học
                  2022-2023</th>
              </tr>
              <tr>
                <th>Môn học</th>
                <th>TC</th>
                <th>Điểm</th>
                <th>Lớp môn học</th>
                <th>Tổng SV</th>
                <th>Đã ĐK</th>
                <th>Học phí</th>
                <th>Lịch học</th>
                <th>Ngày thi</th>
                <th width="50">Tính năng</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Cơ sở dữ liệu Web và hệ thống thông tin</td>
                <td>3</td>
                <td>3.5</td>
                <td>PEC3027</td>
                <td>50</td>
                <td style="background-color: #eee;">50</td>
                <td>500.000</td>
                <td>T3-(1-3)-501T5</td>
                <td></td>
                <td class="table-td-center">
                  <button class="btn btn-primary btn-sm edit" type="button" title="Xem" id="show-emp">
                    <a href="/table_dang_ky_hoc/table_dkh_sv"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  </button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Essential javascripts for application to work-->
<script src="{{url_for('static', filename='doc/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/bootstrap.min.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='doc/js/main.js')}}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{{url_for('static', filename='doc/js/plugins/pace.min.js')}}"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<!-- <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script> -->
<script src="{{url_for('static', filename='doc/js/plugins/jquery.dataTables.min.js')}}"></script>
<!-- <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script> -->
<script src="{{url_for('static', filename='doc/js/plugins/dataTables.bootstrap.min.js')}}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
  function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    // document.getElementById("myTable").deleteRow(i); -->
    var maNV = r.parentNode.parentNode.childNodes[3].textContent
    swal({
      title: "Cảnh báo",
      text: "Bạn có chắc chắn là muốn xóa ngành này?", // index = 3
      buttons: ["Hủy bỏ", "Đồng ý"],
    })
      .then((willDelete) => {

        if (willDelete) {
          $.ajax({
            url: "/delete_sinh_vien/" + maNV,
            context: document.body
          })
          swal("Đã xóa thành công.!", {

          });
          location.reload();
        }
      });
  }

  function deleteMoreRow(r) {
    var numRow = document.getElementById("sampleTable").rows.length;
    var id_nv = [];
    $('#sampleTable tbody :checkbox').each(function () {
      let i = this.parentNode.parentNode.rowIndex;
      if (this.checked) {
        id_nv.push(this.parentNode.parentNode.childNodes[3].textContent);
      }
    });

    swal({
      title: "Cảnh báo",
      text: "Bạn có chắc chắn là muốn xóa những ngành này?", // index = 3
      buttons: ["Hủy bỏ", "Đồng ý"],
    })
      .then((willDelete) => {
        if (willDelete) {
          for (let i = 0; i < id_nv.length; i++) {
            $.ajax({
              url: "/delete_sinh_vien/" + id_nv[i],
              context: document.body
            })
          }
          swal("Đã xóa thành công.!", {});
        }
        location.reload();
      });
  }

  oTable = $('#sampleTable').dataTable();
  $('#all').click(function (e) {
    $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
    e.stopImmediatePropagation();
  });

  //In dữ liệu
  var myApp = new function () {
    this.printTable = function () {
      var win = window.open('/get_print_data_employees', '', 'height=700,width=1400');
      win.document.close();
      win.print();
    }
  }
</script>
{% endblock content %}