{% extends "base.html" %}
{% block title %} Đăng ký học {% endblock title %}
{% block content %}
<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Đăng ký học</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">

          <div class="row element-button">

            <div class="col-sm-2">
              <a class="btn btn-add btn-sm" href="/table_dang_ky_hoc/form_add_dot_dk" title="Thêm đợt đăng ký mới"><i
                  class="fas fa-plus"></i>
                Thêm</a>
            </div>

            <div class="col-sm-2">
              <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()"><i
                  class="fas fa-print"></i> In thông tin</a>
            </div>
            <div class="col-sm-2">
              <a class="btn btn-excel btn-sm" href="/get_table_dang_ky_hoc_excel/{{ma_dot_dang_ky}}" title="Xuất Excel"><i class="fas fa-file-excel"></i> Xuất
                Excel</a>
            </div>

            <div class="col-sm-2">
              <a class="btn btn-delete btn-sm pdf-file" type="button" title="Xuất PDF" href="/get_table_dang_ky_hoc_pdf/{{ma_dot_dang_ky}}"><i
                  class="fas fa-file-pdf"></i>Xuất PDF</a>
            </div>

            <div class="col-sm-2">
            </div>
            <div class="col-sm-2">
              <a class="btn btn-add btn-sm" href="/table_dang_ky_hoc/table_dkh_lop_hoc/{{ma_dot_dang_ky}}" title="Tùy chỉnh"><i
                  class="fas fa-pen"></i>
                Tùy chỉnh</a>
            </div>

          </div>
          <form class="row" method="post" action="/table_dang_ky_hoc" enctype="multipart/form-data">
            <div class="col-md-5">
              <div class="form-group">
                <select class="form-control" id="department" name="ma_dot_dang_ky">
                  <option style="text-align: center; color: green; font-style: italic;"> {{ma_dot}} </option>
                  {% for elm in cac_ddk %}
                  <option style="text-align: center;"> {{elm[0]}} _ {{elm[1]}} _ {{elm[2]}} </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group col-md-2">
              <input class="btn btn-save" type="submit" onclick="" value="OK" />
            </div>
            <div class="form-group col-md-5">
            </div>
          </form>
          <div class="form-group col-md-12">
            {% if tt_dot %}
            <p>
              Mã đợt: <b>{{tt_dot[0]}}</b>
              Mã học kỳ: <b>{{tt_dot[1]}}</b>
              Ngày bắt đầu: <b>{{tt_dot[2]}}</b>
              Ngày kết thúc: <b>{{tt_dot[3]}}</b>
              Trạng thái: <b>
              {% if tt_dot[4] == "Đang đóng" or tt_dot[4] == "Đã đóng"%}
              <span style="color: red;"> {{tt_dot[4]}}</span>
              {% else %}
              <span style="color: green;"> {{tt_dot[4]}}</span>
              {% endif %} </b>
            </p>
          {% endif %}
          </div>
          {% if tt_dotks != () %}
          <div class="form-group col-md-12">
          <p>
            Mã đợt khảo sát: <b>{{tt_dotks[0]}}</b>
            Mã đợt đăng ký: <b>{{tt_dotks[1]}}</b>
            Mã học kỳ: <b>{{tt_dotks[2]}}</b>
            Ngày bắt đầu: <b>{{tt_dotks[3]}}</b>
            Ngày kết thúc: <b>{{tt_dotks[4]}}</b>
            Trạng thái: <b>
            {% if tt_dotks[5] == "Đang đóng" or tt_dotks[5] == "Đã đóng"%}
            <span style="color: red;"> {{tt_dotks[5]}}</span>
            {% else %}
            <span style="color: green;"> {{tt_dotks[5]}}</span>
            {% endif %} </b>
          </p>
        </div>
          {% endif %}
          <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
            id="sampleTable">
            <thead>
              <tr>
                <th colspan="11" style="text-align: center; background-color: #eee">{{ma_dot}}</th>
              </tr>
              <tr>
                <th>Môn học</th>
                <th>TC</th>
                <th>Mã lớp</th>
                <th>Tổng SV</th>
                <th>Đã ĐK</th>
                <th>Lịch học</th>
                <th width="50">Tính năng</th>
              </tr>
            </thead>
            <tbody>
              {% for data in cac_lop %}
              <tr>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
                <td>{{data[3]}}</td>
                <td>{{data[4]}}</td>
                {% if data[4] == data[5] %}
                  <td style="background-color: #eee;">{{data[5]}}</td>
                {% else %}
                  <td>{{data[5]}}</td>
                {% endif %}
                <td>{{data[6]}}</td>
                <td class="table-td-center">
                  <button class="btn btn-primary btn-sm edit" type="button" title="Xem" id="show-emp">
                    <a href="/table_dang_ky_hoc/table_dkh_sv/{{data[0]}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  </button>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Essential javascripts for application to work-->
<script src="{{url_for('static', filename='doc/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/bootstrap.min.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='doc/js/main.js')}}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{{url_for('static', filename='doc/js/plugins/pace.min.js')}}"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<!-- <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script> -->
<script src="{{url_for('static', filename='doc/js/plugins/jquery.dataTables.min.js')}}"></script>
<!-- <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script> -->
<script src="{{url_for('static', filename='doc/js/plugins/dataTables.bootstrap.min.js')}}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
  function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    // document.getElementById("myTable").deleteRow(i); -->
    var maNV = r.parentNode.parentNode.childNodes[3].textContent
    swal({
      title: "Cảnh báo",
      text: "Bạn có chắc chắn là muốn xóa ngành này?", // index = 3
      buttons: ["Hủy bỏ", "Đồng ý"],
    })
      .then((willDelete) => {

        if (willDelete) {
          $.ajax({
            url: "/delete_sinh_vien/" + maNV,
            context: document.body
          })
          swal("Đã xóa thành công.!", {

          });
          location.reload();
        }
      });
  }

  function deleteMoreRow(r) {
    var numRow = document.getElementById("sampleTable").rows.length;
    var id_nv = [];
    $('#sampleTable tbody :checkbox').each(function () {
      let i = this.parentNode.parentNode.rowIndex;
      if (this.checked) {
        id_nv.push(this.parentNode.parentNode.childNodes[3].textContent);
      }
    });

    swal({
      title: "Cảnh báo",
      text: "Bạn có chắc chắn là muốn xóa những ngành này?", // index = 3
      buttons: ["Hủy bỏ", "Đồng ý"],
    })
      .then((willDelete) => {
        if (willDelete) {
          for (let i = 0; i < id_nv.length; i++) {
            $.ajax({
              url: "/delete_sinh_vien/" + id_nv[i],
              context: document.body
            })
          }
          swal("Đã xóa thành công.!", {});
        }
        location.reload();
      });
  }

  oTable = $('#sampleTable').dataTable();
  $('#all').click(function (e) {
    $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
    e.stopImmediatePropagation();
  });

  //In dữ liệu
  var myApp = new function () {
    this.printTable = function () {
      var win = window.open('/get_print_dang_ky_hoc/{{ma_dot_dang_ky}}', '', 'height=700,width=1400');
      win.document.close();
      win.print();
    }
  }
</script>
{% endblock content %}