{% extends "base.html" %}
{% block title %} Các đợt khảo sát {% endblock title %}
{% block content %}
<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb side">
      <li class="breadcrumb-item active"><a href="#"><b>Các đợt khảo sát</b></a></li>
    </ul>
    <div id="clock"></div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <div class="tile-body">
          <form class="row" method="post" action="/table_khao_sat" enctype="multipart/form-data">
            <div class="col-md-5">
              <div class="form-group">
                <select class="form-control" id="department" name="ma_dot_khao_sat">
                  {% for elm in cac_ks%}
                  <option style="text-align: center;"> {{elm[0]}} _ {{elm[1]}} _ {{elm[2]}} _ {{elm[3]}} </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="form-group col-md-2">
              <input class="btn btn-save" type="submit" onclick="" value="OK" />
            </div>
            <div class="form-group col-md-5">
            </div>

          </form>
          <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0" border="0"
            id="sampleTable">
            <thead>
              <tr>
                <th colspan="11" style="text-align: center; background-color: #eee">{{ma_dot}}</th>
              </tr>
              <tr>
                <th>Môn học</th>
                <th>TC</th>
                <th>Mã lớp</th>
                <th>Tổng SV</th>
                <th>Đã ĐK</th>
                <th>Lịch học</th>
                <th width="50">Tính năng</th>
              </tr>
            </thead>
            <tbody>
              {% for data in cac_lop %}
              <tr>
                <td>{{data[1]}}</td>
                <td>{{data[2]}}</td>
                <td>{{data[3]}}</td>
                <td>{{data[4]}}</td>
                {% if data[4] == data[5] %}
                  <td style="background-color: #eee;">{{data[5]}}</td>
                {% else %}
                  <td>{{data[5]}}</td>
                {% endif %}
                <td>{{data[6]}}</td>
                <td class="table-td-center">
                  <button class="btn btn-primary btn-sm edit" type="button" title="Xem" id="show-emp">
                    <a href="/table_khao_sat/table_khao_sat_sv/{{data[0]}}"><i class="fa fa-eye" aria-hidden="true"></i></a>
                  </button>
                </td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Essential javascripts for application to work-->
<script src="{{url_for('static', filename='doc/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/bootstrap.min.js')}}"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='doc/js/main.js')}}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{{url_for('static', filename='doc/js/plugins/pace.min.js')}}"></script>
<!-- Page specific javascripts-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<!-- Data table plugin-->
<!-- <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script> -->
<script src="{{url_for('static', filename='doc/js/plugins/jquery.dataTables.min.js')}}"></script>
<!-- <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script> -->
<script src="{{url_for('static', filename='doc/js/plugins/dataTables.bootstrap.min.js')}}"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script>
  function deleteRow(r) {
    var i = r.parentNode.parentNode.rowIndex;
    // document.getElementById("myTable").deleteRow(i); -->
    var maNV = r.parentNode.parentNode.childNodes[3].textContent
    swal({
      title: "Cảnh báo",
      text: "Bạn có chắc chắn là muốn xóa ngành này?", // index = 3
      buttons: ["Hủy bỏ", "Đồng ý"],
    })
      .then((willDelete) => {

        if (willDelete) {
          $.ajax({
            url: "/delete_sinh_vien/" + maNV,
            context: document.body
          })
          swal("Đã xóa thành công.!", {

          });
          location.reload();
        }
      });
  }

  function deleteMoreRow(r) {
    var numRow = document.getElementById("sampleTable").rows.length;
    var id_nv = [];
    $('#sampleTable tbody :checkbox').each(function () {
      let i = this.parentNode.parentNode.rowIndex;
      if (this.checked) {
        id_nv.push(this.parentNode.parentNode.childNodes[3].textContent);
      }
    });

    swal({
      title: "Cảnh báo",
      text: "Bạn có chắc chắn là muốn xóa những ngành này?", // index = 3
      buttons: ["Hủy bỏ", "Đồng ý"],
    })
      .then((willDelete) => {
        if (willDelete) {
          for (let i = 0; i < id_nv.length; i++) {
            $.ajax({
              url: "/delete_sinh_vien/" + id_nv[i],
              context: document.body
            })
          }
          swal("Đã xóa thành công.!", {});
        }
        location.reload();
      });
  }

  oTable = $('#sampleTable').dataTable();
  $('#all').click(function (e) {
    $('#sampleTable tbody :checkbox').prop('checked', $(this).is(':checked'));
    e.stopImmediatePropagation();
  });

</script>
{% endblock content %}