{% extends "base.html" %}
{% block title %} Kết quả học tập {% endblock title %}
{% block content %}
</aside>
<main class="app-content">
  <div class="app-title">
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><a href="/table_kqht_sv">Kết quả học tập</a></li>
        <li class="breadcrumb-item"><a href="">Thêm kết quả học tập từ file</a></li>
    </ul>
    <div id="clock"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="tile">
        <h3 class="tile-title">Thêm kết quả học tập - Upload file excel</h3>
        <div class="tile-body">
          <form class="row" method="post" action="/table_kqht_sv/form_add_kqht_upload_file" enctype="multipart/form-data">
            <div class="form-group col-md-4">
              <label class="control-label">Upload file</label>
              <input type="file" style="height:45px;" name="FileDataUpload" class="form-control" id="customFile" />
            </div>
            <div class="form-group col-md-4">
              <label class="control-label"></label>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label"></label>
            </div>
            <div class="form-group col-md-4">
              <input class="btn btn-save" type="submit" value="Lưu lại" />
              <a class="btn btn-cancel" href="/table_kqht_sv">Hủy bỏ</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
<!-- Essential javascripts for application to work-->
<script src="{{url_for('static', filename='doc/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/main.js')}}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{{url_for('static', filename='doc/js/plugins/pace.min.js')}}"></script>


{% endblock %}