{% extends "base.html" %}
{% block title%} Quản lý học kỳ {% endblock %}
{% block content %}
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="/table_kqht_sv">Kết quả học tập</a></li>
            <li class="breadcrumb-item"><a href="/table_kqht_sv/table_hoc_ky">Quản lý học kỳ</a></li>
            <li class="breadcrumb-item"><a href="">Thêm học kỳ</a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="tile">

                <h3 class="tile-title">Tạo mới học kỳ</h3>
                <div class="tile-body">
                    <form class="row" method="post" action="/form_add_hoc_ky" enctype="multipart/form-data">
                        <div class="form-group col-md-3">
                            <label class="control-label">Mã học kỳ</label>
                            <input class="form-control" type="text" name="ma_hoc_ky" required>
                        </div>
                        <div class="form-group col-md-5">
                            <label class="control-label">Năm học</label>
                            <input class="form-control" type="text" name="nam_hoc" required>
                        </div>
                        <div class="form-group col-md-4">
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Tên học kỳ</label>
                            <input class="form-control" type="text" name="ten_hoc_ky" required>
                        </div>
                        <div class="form-group col-md-4">
                        </div>
                        <div id="toast">
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn btn-save" type="submit" onclick="showSuccessToast();"
                                value="Thêm" />
                            <a class="btn btn-cancel" href="/table_kqht_sv/table_hoc_ky">Hủy bỏ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock  %}