{% extends "base.html" %}
{% block title%} Thêm ngành {% endblock %}
{% block content %}
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="/table_nganh">Ngành</a></li>
            <li class="breadcrumb-item"><a href="">Thêm ngành</a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="tile">

                <h3 class="tile-title">Tạo mới ngành</h3>
                <div class="tile-body">
                    <form class="row" method="post" action="/table_nganh/form_add_nganh" enctype="multipart/form-data">
                        {% if ma_err %}
                        <div class="form-group col-md-12">
                            <div class="alert alert-danger" style="text-align: left; font-size: 12px; background-color: red;">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>{{ma_err}}</strong> 
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group col-md-6">
                            <label class="control-label">Mã ngành</label>
                            <input class="form-control" type="text" name="ma_nganh" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Mã khoa</label>
                            <select class="form-control" id="department" name="ma_khoa" required>
                                {% for data in cac_khoa %}
      
                                <option>{{data[0]}}_{{data[1]}} </option>
              
                                {% endfor %}
                              </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Tên ngành</label>
                            <input class="form-control" type="text" name="ten_nganh" required>
                        </div>
                        <div class="form-group col-md-6">
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Hình thức đào tạo</label>
                            <input class="form-control" type="text" name="hinh_thuc_dao_tao" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="control-label">Hệ</label>
                            <select class="form-control" id="department" name="ma_he" required>
                                {% for data in cac_he %}
      
                                <option>{{data[0]}}_{{data[1]}}</option>
              
                                {% endfor %}
                              </select>
                        </div>
                        <div id="toast">
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn btn-save" type="submit" onclick="showSuccessToast();"
                                value="Thêm" />
                            <a class="btn btn-cancel" href="/table_nganh">Hủy bỏ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock  %}