{% extends "base_agent.html" %}
{% block title %} Kết quả học tập {% endblock title %}
{% block content %}
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb side">
            <li class="breadcrumb-item active"><a href="#"><b>Kết quả học tập sinh viên</b></a></li>
        </ul>
        <div id="clock"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <div class="tile-body">
                    <div class="row element-button">
                        <div class="col-sm-2">
                          <a class="btn btn-delete btn-sm print-file" type="button" title="In" onclick="myApp.printTable()"><i
                              class="fas fa-print"></i> In thông tin</a>
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-excel btn-sm" href="/get_table_kqht_sv_excel" title="Xuất Excel"><i
                                    class="fas fa-file-excel"></i> Xuất Excel</a>
                        </div>

                        <div class="col-sm-2">
                            <a class="btn btn-delete btn-sm pdf-file" type="button" title="Xuất PDF"
                                href="/get_table_kqht_nql_sv_pdf/{{my_user[-1]}}"><i class="fas fa-file-pdf"></i>Xuất PDF</a>
                        </div>

                    </div>
                    <table class="table table-hover table-bordered js-copytextarea" cellpadding="0" cellspacing="0"
                        border="0" id="sampleTable">
                        <thead>
                            <tr>
                                <th>Mã sinh viên</th>
                                <th>Họ và tên</th>
                                <th>Ngày sinh</th>
                                <th>Lớp</th>
                                <th>Ngành</th>
                                <th>Khoa</th>
                                <th>GPA</th>
                                <th width="50">Tính năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in diem_sinh_vien %}
                            <tr>
                                <td>{{data[0]}}</td>
                                <td>{{data[1]}}</td>
                                <td>{{data[2]}}</td>
                                <td>{{data[3]}}</td>
                                <td>{{data[4]}}</td>
                                <td>{{data[5]}}</td>  
                                <td>{{data[6]}}</td>  
                                <td class="table-td-center">
                                    <button class="btn btn-primary btn-sm edit" type="button" title="Xem" id="show-emp">
                                        <a href="/table_kqht_sv/table_kqht/{{data[0]}}"><i class="fa fa-eye"
                                                aria-hidden="true"></i></a>
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>
 <!-- Essential javascripts for application to work-->
 <script src="{{url_for('static', filename='doc/js/jquery-3.2.1.min.js')}}"></script>
 <script src="{{url_for('static', filename='doc/js/popper.min.js')}}"></script>
 <script src="{{url_for('static', filename='doc/js/bootstrap.min.js')}}"></script>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
 <script src="{{url_for('static', filename='doc/js/main.js')}}"></script>
 <!-- The javascript plugin to display page loading on top-->
 <script src="{{url_for('static', filename='doc/js/plugins/pace.min.js')}}"></script>
 <!-- Page specific javascripts-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
 <!-- Data table plugin-->
 <!-- <script type="text/javascript" src="js/plugins/jquery.dataTables.min.js"></script> -->
 <script src="{{url_for('static', filename='doc/js/plugins/jquery.dataTables.min.js')}}"></script>
 <!-- <script type="text/javascript" src="js/plugins/dataTables.bootstrap.min.js"></script> -->
 <script src="{{url_for('static', filename='doc/js/plugins/dataTables.bootstrap.min.js')}}"></script>
 <script type="text/javascript">$('#sampleTable').DataTable();</script>
 <script>
   //In dữ liệu
   var myApp = new function () {
     this.printTable = function () {
       var win = window.open('/table_print_kqht_sv_nql/{{my_user[-1]}}', '', 'height=700,width=1400');
       win.document.close();
       win.print();
     }
   }
 </script>
{% endblock content %}