{% extends "base.html" %}
{% block title %} Thêm sinh viên {% endblock title %}
{% block content %}
<style>
    .Choicefile {
        display: block;
        background: #14142B;
        border: 1px solid #fff;
        color: #fff;
        width: 150px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        padding: 5px 0px;
        border-radius: 5px;
        font-weight: 500;
        align-items: center;
        justify-content: center;
    }

    .Choicefile:hover {
        text-decoration: none;
        color: white;
    }

    #uploadfile,
    .removeimg {
        display: none;
    }

    #thumbbox {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
    }

    .removeimg {
        height: 25px;
        position: absolute;
        background-repeat: no-repeat;
        top: 5px;
        left: 5px;
        background-size: 25px;
        width: 25px;
        /* border: 3px solid red; */
        border-radius: 50%;

    }

    .removeimg::before {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        content: '';
        border: 1px solid red;
        background: red;
        text-align: center;
        display: block;
        margin-top: 11px;
        transform: rotate(45deg);
    }

    .removeimg::after {
        /* color: #FFF; */
        /* background-color: #DC403B; */
        content: '';
        background: red;
        border: 1px solid red;
        text-align: center;
        display: block;
        transform: rotate(-45deg);
        margin-top: -2px;
    }
</style>
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="/bang_sinh_vien">Danh sách nhân viên</a></li>
            <li class="breadcrumb-item active"> <a href="#">Thêm nhân viên </a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="tile">
                <h3 class="tile-title">Thêm mới sinh viên</h3>
                <div class="tile-body">
                    <form class="row" method="post" action="/bang_sinh_vien/form_add_sinh_vien" enctype="multipart/form-data">
                        {% if ma_err %}
                        <div class="form-group col-md-12">
                            <div class="alert alert-danger" style="text-align: left; font-size: 12px; background-color: red;">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>Mã sinh viên đã tồn tại!</strong> 
                            </div>
                        </div>
                      {% endif %}
                        <div class="form-group col-md-4">
                            <label class="control-label">Mã sinh viên</label>
                            <input class="form-control" type="text" name="ma_sinh_vien" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Họ và tên</label>
                            <input class="form-control" type="text" name="ho_ten" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Ngày sinh</label>
                            <input class="form-control" type="date" name="ngay_sinh" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Giới tính</label>
                            <select class="form-control" id="exampleSelect2" name="gioi_tinh" required>
                                <option>-- Chọn giới tính --</option>
                                <option>Nam</option>
                                <option>Nữ</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Dân tộc</label>
                            <input class="form-control" type="text" name="dan_toc" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Quốc tịch</label>
                            <input class="form-control" type="text" name="quoc_tich" required>
                        </div>

                        <div class="form-group col-md-8">
                            <label class="control-label">Nơi sinh</label>
                            <input class="form-control" type="text" name="noi_sinh" required>
                        </div>

                        <div class="form-group col-md-4">
                            <label class="control-label">Địa chỉ email</label>
                            <input class="form-control" type="text" name="email" required>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Địa chỉ thường trú</label>
                            <input class="form-control" type="text" name="dia_chi" required>
                        </div>
                        <div class="form-group  col-md-4">
                            <label class="control-label">Số điện thoại</label>
                            <input class="form-control" type="text" name="so_dien_thoai" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Số CMND (Thẻ căn cước)</label>
                            <input class="form-control" type="text" name="chung_minh_thu" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Ngày cấp</label>
                            <input class="form-control" type="date" name="ngay_cmt" >
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Nơi cấp</label>
                            <input class="form-control" type="text" name="noi_cmt" >
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label">Lớp - Ngành - Khoa</label>
                            <select class="form-control" id="department" name="ma_lop" required>
                              {% for data in cac_lop %}
    
                              <option>{{data[1]}} </option>
            
                              {% endfor %}
                            </select>
                        </div>

                        <div class="form-group col-md-12">
                            <label class="control-label">Ảnh 3x4 sinh viên</label>
                            <div id="myfileupload">
                                <input type="file" id="uploadfile" name="ImageProfileUpload"
                                    onchange="readURL(this);" >
                            </div>
                            <div id="thumbbox">
                                <img height="300" width="300" alt="Thumb image" id="thumbimage" style="display: none" />
                                <a class="removeimg" href="javascript:"></a>
                            </div>
                            <div id="boxchoice">
                                <a href="javascript:" class="Choicefile"><i class='bx bx-upload'></i></a>
                                <p style="clear:both"></p>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn btn-save" type="submit" value="Lưu lại" />
                            <a class="btn btn-cancel" href="/bang_sinh_vien">Hủy bỏ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- Essential javascripts for application to work-->
<script src="{{url_for('static', filename='doc/js/jquery-3.2.1.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/popper.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/bootstrap.min.js')}}"></script>
<script src="{{url_for('static', filename='doc/js/main.js')}}"></script>
<!-- The javascript plugin to display page loading on top-->
<script src="{{url_for('static', filename='doc/js/plugins/pace.min.js')}}"></script>
<script>
    function readURL(input, thumbimage) {
        if (input.files && input.files[0]) { //Sử dụng  cho Firefox - chrome
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbimage").attr('src', e.target.result);
            }
            reader.readAsDataURL(input.files[0]);
        }
        else { // Sử dụng cho IE
            $("#thumbimage").attr('src', input.value);

        }
        $("#thumbimage").show();
        $('.filename').text($("#uploadfile").val());
        $('.Choicefile').css('background', '#14142B');
        $('.Choicefile').css('cursor', 'default');
        $(".removeimg").show();
        $(".Choicefile").unbind('click');

    }
    $(document).ready(function () {
        $(".Choicefile").bind('click', function () {
            $("#uploadfile").click();

        });
        $(".removeimg").click(function () {
            $("#thumbimage").attr('src', '').hide();
            $("#myfileupload").html('<input type="file" id="uploadfile"  onchange="readURL(this);" />');
            $(".removeimg").hide();
            $(".Choicefile").bind('click', function () {
                $("#uploadfile").click();
            });
            $('.Choicefile').css('background', '#14142B');
            $('.Choicefile').css('cursor', 'pointer');
            $(".filename").text("");
        });
    })
</script>

{% endblock content %}