{% extends "base.html" %}
{% block title%} Thêm lớp {% endblock %}
{% block content %}
<main class="app-content">
    <div class="app-title">
        <ul class="app-breadcrumb breadcrumb">
            <li class="breadcrumb-item"><a href="/table_lop">Lớp</a></li>
            <li class="breadcrumb-item"><a href="">Thêm lớp</a></li>
        </ul>
        <div id="clock"></div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="tile">

                <h3 class="tile-title">Tạo mới lớp</h3>
                <div class="tile-body">
                    <form class="row" method="post" action="/table_lop/form_add_lop" enctype="multipart/form-data">
                        {% if ma_err %}
                        <div class="form-group col-md-12">
                            <div class="alert alert-danger" style="text-align: left; font-size: 12px; background-color: red;">
                            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                            <strong>{{ma_err}}</strong> 
                            </div>
                        </div>
                        {% endif %}

                        <div class="form-group col-md-4">
                            <label class="control-label">Mã lớp</label>
                            <input class="form-control" type="text" name="ma_lop" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Mã ngành</label>
                            <select class="form-control" id="department" name="ma_nganh" required>
                                {% for data in cac_nganh %}
      
                                <option>{{data[0]}}_{{data[2]}} </option>
              
                                {% endfor %}
                              </select>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Năm</label>
                            <input class="form-control" type="text" name="nam" required>
                        </div>
                        <div class="form-group col-md-8">
                            <label class="control-label">Tên lớp</label>
                            <input class="form-control" type="text" name="ten_lop" required>
                        </div>
                        <div class="form-group col-md-4">
                            <label class="control-label">Mã quản lý</label>
                            <input class="form-control" type="text" name="ma_nguoi_quan_ly" >
                        </div>
                        <div id="toast">
                        </div>
                        <div class="form-group col-md-4">
                            <input class="btn btn-save" type="submit" onclick="showSuccessToast();"
                                value="Thêm" />
                            <a class="btn btn-cancel" href="/table_lop">Hủy bỏ</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock  %}