<!DOCTYPE html>
<html lang="en">

<head>
    <title> {%block title%} {% endblock %} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='doc/css/main.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename=truong[3])}}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
</head>

<body onload="time()" class="app sidebar-mini rtl">
    <!-- Navbar-->
    <header class="app-header">
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
            aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">


            <!-- User Menu-->
            <li><a class="app-nav__item" href="/logout"><i class='bx bx-log-out bx-rotate-180'></i> </a>

            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user"><img class="app-sidebar__user-avatar" src="{{ url_for('static', filename=my_user[7]) }}" style="border-radius: 50%;"
                width="50px" alt="User Image">
            <div>
                <p class="app-sidebar__user-name"><b>{{my_user[6]}}</b></p>
                <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">
            <li><a class="app-menu__item haha"><i class='app-menu__icon bx bx-user'></i>
                    <span class="app-menu__label">Quản lý</span></a></li>
            <li><a class="app-menu__item" href="/view_all_khoa"><i class='app-menu__icon bx bxs-school'></i><span
                        class="app-menu__label">Khoa</span></a></li>
            <li><a class="app-menu__item" href=""><i class='app-menu__icon bx bxs-book-open'></i>
                    <span class="app-menu__label">Ngành</span></a></li>
            <li><a class="app-menu__item" href=""><i class='app-menu__icon bx bx-grid-alt'></i><span
                        class="app-menu__label">Lớp</span></a></li>
            <li><a class="app-menu__item" href="/bang_sinh_vien"><i class='app-menu__icon bx bxs-graduation'></i><span
                        class="app-menu__label">Sinh viên</span></a></li>
            <li><a class="app-menu__item" href=""><i class='app-menu__icon bx bxs-check-square'></i><span
                        class="app-menu__label">Kết quả học tập</span></a></li>
            <li><a class="app-menu__item" href=""><i class='app-menu__icon bx bxs-bar-chart-alt-2'></i><span
                        class="app-menu__label">Khảo sát</span></a></li>
            <li><a class="app-menu__item" href=""><i class='app-menu__icon bx bxs-edit-alt'></i><span
                        class="app-menu__label">Đăng ký tín chỉ</span></a></li>
            <li><a class="app-menu__item" href="/cai_dat"><i class='app-menu__icon bx bx-cog'></i><span
                        class="app-menu__label">Cài đặt</span></a></li>
        </ul>
    </aside>

    <script src="{{url_for('static', filename='doc/js/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='doc/js/popper.min.js')}}"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='doc/js/bootstrap.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='doc/js/main.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='doc/js/plugins/pace.min.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='doc/js/plugins/chart.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='js/displaytime/displaytime.js')}}"></script>
    <!--===============================================================================================-->
    <script src="{{url_for('static', filename='js/active/active.js')}}"></script>
</body>

</html>